---
layout: default
title: Tie-Peng Wang
---
   
<div class="leo-article-list">
  {% for post in paginator.posts %}
    <dl>
      <dt><a href="{{ post.url }}">{{ post.title }}</a></dt>
      <dd>
        <div class="leo-newsinfo">
          <p>
            {{ post.description }}
          </p>
          <p class="leo-read"><a target="_blank" href="{{post.url}}">阅读全文>></a></p>
          <p class="leo-timer">标签：{{post.tags}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;by {{site.author.name}}  {{post.date | date:"%Y-%m-%d"}}</p>
          <p class="leo-timer"></p>
        </div>
      </dd>
    </dl>
  {% endfor %}
</div>
{% if paginator.total_pages > 1 %}
    <div class="leo-pagination">
      <em>{{paginator.total_pages}}页</em>
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上一页</a>
      {% else %}
        <span class="leo-pageprv">上一页</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <em>{{ page }}</em>
        {% elsif page == 1 %}
          <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页</a>
      {% else %}
        <span>下一页</span>
      {% endif %}
    </div>
  {% endif %}

  <div class="tagcloud">

  {%for tag in site.tags%}
<a href="{{site.url}}#{{tag[0]}}">{{site.tags.TAG}}</a>
{%endfor%}
</div>
