---
layout: default
---

<h1 class="leo-articel-title">{{ page.title }}</h1>
<p class="leo-protect">
	作者：
	<a href="/">fwyang</a>
	　发布时间：{{ page.date | date:"%Y年%m月%d日" }}
	<br>
	原文：
	<a href="{{page.url}}">{{page.title}}</a>
	<br>
	标签： {{ page.tags}}
	<br/>
	版权所有，转载时必须以链接形式注明作者和原出处并保留本声明。
	<br>
</p>
<div class="post">
{{ content }}
</div>
<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/prettify.js"></script>
<script type="text/javascript">
  $(function(){
    $("pre").addClass("prettyprint linenums");
    prettyPrint();
  });
</script>

<!-- Duoshuo Comment BEGIN -->
  <div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"jutleo"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
    || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- Duoshuo Comment END -->
